{% extends "base.html" %}

{% block title %}
    {{ category }}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center" style="padding-bottom: 20px; font-size: 40px; font-weight: bolder">
        {{ category }}
    </div>

    {% if budget.name is not None and budget.name != "" %}
        {{ category }} in {{ budget.name }}
    {% else %}
        {{ category }} in budget
    {% endif %}
    <div class="progress" style="margin-bottom: 30px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ category_to_budget }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ category_to_budget }}%">{{ category_to_budget }}</div>
    </div>
    {{ category }} to all expenses
    <div class="progress" style="margin-bottom: 30px">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="{{ category_to_all }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ category_to_all }}%">{{ category_to_all }}</div>
    </div>

    <div class="info-stat-category">
        <p><strong>Sum wydatków w kategorii:</strong> {{ total_category_expenses }}zł</p>
        <p><strong>Udział wydatków kategorii do wszystkich wydatków: </strong>{{ category_to_all }}%</p>
        <p><strong>Udział wydatków kategorii w budżecie: </strong>{{ category_to_budget }}%</p>
    </div>

    <a class="btn btn-success" href="{% url "home" %}" role="button">Home</a>
{% endblock %}

