{% extends "base.html" %}

{% block title %}
    Edit {{ user.username }} profile
{% endblock %}

{% block content %}
    <form method="post">

        {% csrf_token %}

        <div class="form-group">
            {{ form.income.errors }}
            <label for="{{ form.income.id_for_label }}">Enter you Income</label>
            {{ form.income }}
        </div>
        <div class="form-group">
            {{ form.pay_day.errors }}
            <label for="{{ form.pay_day.id_for_label }}">Income day </label>
            {{ form.pay_day }}
        </div>

        <input type="submit" value="Save"
               class="btn btn-success">

        <a class="btn btn-success" href="{% url "home" %}" role="button">BACK</a>
        <!-- <a href="{% url "home" %}">(<-- BACK)</a> -->
    </form>
{% endblock %}


