{% extends "base.html" %}

{% block title %}
    {{ expence }}
{% endblock %}

{% block content %}
<div class="d-flex bd-highlight">
<div class="justify-content-center">
    <label class="col-form-label">
        <strong>Nazwa: </strong>
        <p>{{ expence.name }}</p>
    </label>

    <label class="col-form-label">
        <strong>Value: </strong>
        <p>{{ expence.value }}</p>
    </label>

    <label class="col-form-label">
        <strong>Category: </strong>
        <p>{{ expence.category }}</p>
    </label>

    <label class="col-form-label">
        <strong>Date: </strong>
        <p>{{ expence.date }}</p>
    </label>


</div>
</div>
<a class="btn btn-success" href="{% url "home" %}" role="button">Home</a>
{% endblock %}