{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}


{% block content %}
    <form method="post">

        {% csrf_token %}

        <div class="form-group">
            {{ form.username.errors }}
            <label class="form-label" for="{{ form.username.id_for_label }}">User name:</label>
            <p>{{ form.username }}</p>
        </div>

        <div class="form-group">
            {{ form.password.errors }}
            <label class="form-label" for="{{ form.password.id_for_label }}">Password:</label>
            <p>{{ form.password }}</p>
        </div>

        <input type="submit" value="Save" class="btn btn-success">
        <p><a class="btn btn-success" href="{% url "welcome" %}" role="button">Back</a></p>
    </form>
{% endblock %}
