{% extends "base.html" %}

{% block title %}
    Welcome
{% endblock %}


{% block content %}
        <div class="row container" style="padding-bottom: 20px">
        <div class="col-lg-6 mx-auto">

            <p class="lead">
                Budżet Domowy to aplikacja pod Windows, która pozwoli Ci trzymać pełną kontrolę nad wszystkimi wydatkami domowymi i nie tylko. Już nie będziesz musiał zastanawiać się dlaczego i na co tak szybko rozchodzą się pieniądze. Za pomocą kilku kliknięć sprawdzisz na co, ile wydajesz. Będziesz mógł lepiej planować wydatki co sprawi, że zaoszczędzisz więcej pieniędzy na dodatkowe przyjemności...

            </p>

        </div>
        </div>
    <p style="font-size: 40px"><strong>Funkcjonalności :</strong></p>
        <ul class="list-group">
            <li class="list-group-item">o  Prowadzenie ewidencji dochodów w podziale na: źródła dochodu (wypłata, stypendium, emerytura, ...), portfele (np. konto bankowe, gotówka) oraz daty uzyskania dochodu.</li>
            <li class="list-group-item">o  Automatyczne bilansowanie środków finansowych przeznaczonych do wydania w oparciu o zdefiniowane dochody i wydatki.</li>
            <li class="list-group-item">o  Szybkie kalkulowanie dowolnie wybranych wydatków lub dochodów w oparciu o dowolnie zdefiniowane kryteria.</li>
            <li class="list-group-item">o  Prowadzenie ewidencji wydatków zarówno ogólnej (data, kwota wydatku, opis) jak i szczegółowej (w rozbiciu na poszczególne pozycje ).</li>
            <li class="list-group-item">o  Zdefiniowanie nieograniczonej ilości kategorii wydatków w postaci dowolnie powiązanego i skonstruowanego drzewa (np. Żywność - Owoce - Jabłka, Ubezpieczenia - Samochód – OC, itp).</li>
            <li class="list-group-item">o  Zdefiniowanie nieograniczonej ilości portfeli (sposobów finansowania zakupów) oraz źródeł dochodów.</li>
            <li class="list-group-item">o  Możliwość ewidencjonowania transferów pieniędzy pomiędzy portfelami lub kontami (np. wypłata z bankomatu, przelew pomiędzy dwoma różnymi kontami osobistymi).</li>
            <li class="list-group-item">o  Tworzenie oraz wydruk zestawień tabelarycznych i graficznych dla wydatków i dochodów według kilkunastu różnych kryteriów dla dowolnie zdefiniowanych zakresów czasowych.</li>
            <li class="list-group-item">o  Udostępnia użytkownikowi aktualne oraz archiwalne, aktualizowane na bieżąco przez Internet kursy walut Narodowego Banku Polskiego.</li>
            <li class="list-group-item">o  Dostosowanie programu do indywidualnych upodobań użytkownika (szerokości kolumn w tabelach, rodzaj wyświetlanych danych, itp.)</li>
            <li class="list-group-item">o  Możliwość przydzielenia dostępu do programu wielu użytkownikom, którym można nadawać indywidualne prawa korzystania z programu.</li>
            <li class="list-group-item">o  Zabezpieczenie wejścia do programu hasłem.</li>
            <li class="list-group-item">o  Dożywotnią licencję oraz automatyczne i bezpłatne aktualizacje programu do nowszych wersji przez okres jednego roku od zakupu.</li>
            <li class="list-group-item">o  Bezpłatne wsparcie techniczne oraz serwisowe przez telefon lub e-mail przez okres jednego roku od zakupu.</li>
    </ul>


{% endblock %}