{% extends "base.html" %}
{% load static %}

{% block title %}
    Welcome
{% endblock %}


{% block content %}
        <div class="row" style="padding-bottom: 20px">
        <div class="col-lg-6 mx-auto">

            <p class="lead">
                Budżet Domowy to aplikacja, która pozwoli Ci trzymać pełną kontrolę nad wszystkimi wydatkami domowymi i nie tylko. Już nie będziesz musiał zastanawiać się dlaczego i na co tak szybko rozchodzą się pieniądze. Za pomocą kilku kliknięć sprawdzisz na co, ile wydajesz. Będziesz mógł lepiej planować wydatki co sprawi, że zaoszczędzisz więcej pieniędzy na dodatkowe przyjemności...

            </p>

        </div>
        </div>
    <div>
        <img  class="center" src="{% static "images/lokaty-bankowe-e1491471531166.jpg" %}">
    </div>
    <p style="font-size: 40px"><strong>Funkcjonalności :</strong></p>
        <ul class="list-group">
            <li class="list-group-item">o  Automatyczne bilansowanie środków finansowych przeznaczonych do wydania w oparciu o zdefiniowane dochody i wydatki.</li>
            <li class="list-group-item">o  Szybkie kalkulowanie dowolnie wybranych wydatków lub dochodów w oparciu o kryteria.</li>
            <li class="list-group-item">o  Prowadzenie ewidencji wydatków zarówno ogólnej (data, kwota wydatku, opis) jak i szczegółowej (w rozbiciu na poszczególne pozycje ).</li>
            <li class="list-group-item">o  Możliwość przydzielenia dostępu do programu wielu użytkownikom, którym można nadawać indywidualne prawa korzystania z programu.</li>
            <li class="list-group-item">o  Zabezpieczenie wejścia do programu hasłem.</li>
    </ul>


{% endblock %}