{% extends "base.html" %}

{% block title %}
    {{ user }} Stat
{% endblock %}


{% block content %}
    <div class="stat">
    {% if category_transport is not None %}
    <a href="{% url "category_detail" category_transport %}" style="color: black; text-decoration: none">
    Transport {{ sum_transport }}zł
    <div class="progress" style="margin-bottom: 15px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ transport_in_budget }}%" aria-valuenow="{{ transport_in_budget }}" aria-valuemin="0" aria-valuemax="100">{{ transport_in_budget }}%</div>
        </div>
    </a>
    {% endif %}
        {% if category_entertainment is not None %}
        <a href="{% url "category_detail" category_entertainment %}" style="color: black; text-decoration: none">
            Entertainment {{ sum_entertainment }}zł
            <div class="progress" style="margin-bottom: 15px">
              <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: {{ entertainment_in_budget }}%" aria-valuenow="{{ entertainment_in_budget }}" aria-valuemin="0" aria-valuemax="100">{{ entertainment_in_budget }}%</div>
            </div>
        </a>
        {% endif %}

        {% if category_accommodation is not None %}
        <a href="{%  url "category_detail" category_accommodation %}" style="color: black; text-decoration: none">
            Accommodation {{ sum_accommodation }}zł
            <div class="progress" style="margin-bottom: 15px">
              <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: {{ accommodation_in_budget }}%" aria-valuenow="{{ accommodation_in_budget }}" aria-valuemin="0" aria-valuemax="100">{{ accommodation_in_budget }}%</div>
            </div>
        </a>
        {% endif %}

        {% if category_clothes is not None %}
        <a href="{% url "category_detail" category_clothes %}" style="color: black; text-decoration: none">
            Clothes {{ sum_clothes }}zł
            <div class="progress" style="margin-bottom: 15px">
              <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: {{ clothes_in_budget }}%" aria-valuenow="{{ clothes_in_budget }}" aria-valuemin="0" aria-valuemax="100">{{ clothes_in_budget }}%</div>
            </div>
        </a>
        {% endif %}


        {% if category_food is not None %}
        <a href="{% url "category_detail" category_food %}" style="color: black; text-decoration: none">
            Food {{ sum_food }}zł
            <div class="progress" style="margin-bottom: 15px">
              <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: {{ food_in_budget }}%" aria-valuenow="{{ food_in_budget }}" aria-valuemin="0" aria-valuemax="100">{{ food_in_budget }}%</div>
            </div>
        </a>
        {% endif %}

        {% if category_health is not None %}
        <a href="{% url "category_detail" category_health %}" style="color: black; text-decoration: none">
            Health {{ sum_health }}zł
            <div class="progress" style="margin-bottom: 15px">
                <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" role="progressbar" style="width: {{ health_in_budget }}%" aria-valuenow="{{ health_in_budget }}" aria-valuemin="0" aria-valuemax="100">{{ health_in_budget }}%</div>
            </div>
        </a>
        {% endif %}

        {% if category_other is not None %}
        <a href="{% url "category_detail" category_other %}" style="color: black; text-decoration: none">
            Other {{ sum_other }}zł
            <div class="progress" style="margin-bottom: 15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ other_in_budget }}%; background-color: #4a148c" aria-valuenow="{{ other_in_budget }}" aria-valuemin="0" aria-valuemax="100">{{ other_in_budget }}%</div>
            </div>
        </a>
        {% endif %}


        Savings {{ saves }}zł
        <div class="progress" style="margin-bottom: 15px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ saves_in_budget }}%; background-color: gold" aria-valuenow="{{ saves_in_budget }}" aria-valuemin="0" aria-valuemax="100">{{ saves_in_budget }}%</div>
        </div>
    </div>
    <p><a class="float-end btn btn-success" href="{% url "home" %}" role="button">Back</a></p>
{% endblock %}