{% extends "base.html" %}

{% block title %}
    {{ user.username }}
{% endblock %}


{% block content %}
    <p><a href="{% url "add_expense" %}">Add</a></p>
    <!-- EXPENSE LIST -->
    <p><a href="{% url "change_password" %}">Change password</a></p>
    {% block expence_list %}

        <a href="{% url "edit_budget" budget.id %}">Edit {{ user }} budget</a>

        {% for obj in expenses %}
        <li>
            <div>
                <p><a href="{% url "expence_detail" obj.id %}">{{ obj }}</a>| {{ obj.value }}zł | <a href="{% url "category_detail" obj.category %}">{{ obj.category }}</a> | {{ obj.date }}</p>
                <a href="{% url "delete_expense" obj.id %}">(Delete)</a>
                <a href="{% url "edit_expense" obj.id %}">(Edit)</a>
            </div>
        </li>
        {% endfor %}
    {% endblock %}
{% endblock %}
