{% extends "base.html" %}


{% block content %}
    <form method="post">

        {% csrf_token %}

        <div class="form-group">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Username: </label>
            <p> {{ form.username }} </p>
        </div>

        <div class="form-group">
            {{ form.password1.errors }}
            <label for="{{ form.password1.id_for_label }}">New password: </label>
            <p>  {{ form.password1 }} </p>
        </div>

        <div class="form-group">
            {{ form.password2.errors }}
            <label for="{{ form.password2.id_for_label }}">New password again: </label>
            <p> {{ form.password2 }} </p>
        </div>

        <div class="form-group">
            {{ form.current_money.errors }}
            <label for="{{ form.current_money.id_for_label }}">Your current budget: </label>
            <p> {{ form.current_money }} </p>
        </div>

        <div class="form-group">
            {{ form.income.errors }}
            <label for="{{ form.income.id_for_label }}">Your income: </label>
            <p> {{ form.income }} </p>
        </div>

        <div class="form-group">
            {{ form.pay_day.errors }}
            <label for="{{ form.pay_day.id_for_label }}">Your salary day: </label>
            <p>  {{ form.pay_day }} </p>
        </div>
        <input type="submit" value="Save" class="btn btn-success">
        <a class="btn btn-success" href="{% url "welcome" %}" role="button">Back</a>
    </form>
{% endblock %}